@use "../../../css/common.scss" as common;
.trafficVolume {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include common.rightElementSize;
    height: 310px;
    width: 950px;
    background-repeat: no-repeat;

    .title {
        width: 100%;
        height: 46px;
        background: url("../../../assets/image/bottom-title.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: left;
        align-items: center;
        display: flex;
        justify-content: space-between;
        span {
            font-size: 22px;
            font-weight: 700;
            margin-left: 2rem;
            background: linear-gradient(to bottom, #ffffff, #73fcfd);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
        .details {
            cursor: pointer;
            margin-right: 10px;
        }
    }
    .contentContainer {
        position: relative;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
